In [40]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [42]:
data = {
    'Satisfaction': ['Very Satisfied', 'Satisfied', 'Neutral', 'Unsatisfied', 'Very Unsatisfied'],
    'Smart Thermostat': [50, 80, 60, 30, 20],
    'Smart Light': [70, 100, 90, 50, 50],
    'Total': [120, 180, 150, 80, 70]
}

In [44]:
data1 = pd.DataFrame(data)

In [46]:
data1

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70

In [48]:
observed = np.array([
    [50, 70],   
    [80, 100],  
    [60, 90],   
    [30, 50],   
    [20, 50]  
])

In [50]:
chi2_stat,p,dof,expected = stats.chi2_contingency(observed)

In [52]:
print(f"Chi-Square Statistic: {chi2_stat:.4f}")
print(f"Degrees of Freedom: {dof}")
print(f"P Value (α = 0.05): {p}")

Chi-Square Statistic: 5.6382
Degrees of Freedom: 4
P Value (α = 0.05): 0.22784371130697179

In [54]:
alpha = 0.05

result = "Reject the null hypothesis: There is a significant association between device type and satisfaction." \
    if p < alpha else "Fail to reject the null hypothesis: No significant association between device type and satisfaction."

print(result)

Fail to reject the null hypothesis: No significant association between device type and satisfaction.